@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* { 
    box-sizing: border-box;
}

body {
    background-color: rgb(147, 147, 211);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.btn {
    background-color: darkblue;
    border-radius: 5px;
    border: none;
    margin: 1rem;
    color: white;
    font-family: inherit;
    font-size: 1.2rem;
    padding: 1.5rem 3rem;
    cursor: pointer;
}